@font-face {
  font-family: 'FF Kievit Slab';
  font-style: normal;
  font-weight: normal;
  src: url("//fonts.nurlan.co/kievit/slab/reg.eot");
  src: local("FF Kievit Slab Regular"), local("FFKievitSlab-Regular"),
       url("//fonts.nurlan.co/kievit/slab/reg.eot?#iefix") format("embedded-opentype"),
       url("//fonts.nurlan.co/kievit/slab/reg.woff2") format("woff2"),
       url("//fonts.nurlan.co/kievit/slab/reg.woff") format("woff"),
       url("//fonts.nurlan.co/kievit/slab/reg.ttf") format("truetype"),
       url("//fonts.nurlan.co/kievit/slab/reg.svg#reg") format("svg");
}
