@import 'fonts';

html, body {
  height: 100%;
}

body {
  color: #000;
  font-family: "FF Kievit Slab", Helvetica, Arial, sans-serif;
  font-size: 26pt;
  margin: 0;
}

.dark {
  background: #222;
  color: #eee;
}

.container {
  height: 100%;
  display: table;
  width: 700px;
  margin: 0 auto;
}

.quote {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.buttons {
  display: table;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  padding: 10px 25px;
  margin: 0 20px;
  text-decoration: none;

  &:active {
    box-shadow: 0px 1px 0px 0px #ccc;
    transform: translate(0px, 4px);
  }
}

.blue {
  background: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;

  &:hover {
    background: #6FC6FF;
  }
}

.red {
  background: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;

  &:hover {
    background: #FF6656;
  }
}

.toggle {
  position: fixed;
  bottom: 10px;
	right: 10px;
}

input[type=checkbox] {
	height: 0;
	visibility: hidden;
	width: 0;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
  }

  &:active::after {
	  width: 20px;
  }
}

input:checked + label {
  background: #2196F3;

  &::after {
	  left: calc(100% - 2px);
	  transform: translateX(-100%);
  }
}

@media screen and (min-width: 550px) and (max-width: 750px) {
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 90%;
  }

  .fact {
    font-size: 28px;
  }
}
