<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Facts</title>
    <link rel="stylesheet" type="text/css" href="/public/static/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="quote">
        <p id="fact">{{ .Fact }}</p>
        <div class="buttons">
          <div class="boxy green" id="btn">new one</div>
          <a class="boxy red" id="permaLink" href="/fact/{{ .ID }}">permalink</a>
        </div>
      </div>
      <div class="toggle">
        <input type="checkbox" id="switch">
        <label for="switch">Toggle</label>
      </div>
    </div>
    <script src="/public/static/js/index.js"></script>
  </body>
</html>
